# ignore python cache files
__pycache__/
*.pyc

# ignore virtual environment
venv/
.env/
.venv/

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore data files
data/
physionet.org/

# ignore .claude/
.claude/

# ignore latex auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk